 

 .images{
    margin-left: 20px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
.card-Text{
    position: absolute;
    bottom: 0%;
}

.primary{
    position: absolute;
    bottom: 0%;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(51, 123, 240);
    color: white;
}
